#header-title {
    border: 3px solid black;
    padding: 2rem;
}

header {
    display: flex;
    justify-content: center;
}

.jokes-setup {
    display: flex;
    flex-direction: column; /* sets the flex container to display its items vertically */
    justify-content: center;
    align-items: center;
    height: 2px;
  }
  
.box-1 {
    width: 11%;
    margin: 2rem auto;
    border: 3px solid black;
    text-align: center;
    padding: 20px;
    height: 1px;
  }

  body {
    background-color: aliceblue;
}

.box-2 {
  width: 1%;
  margin: 2rem auto;
  border: 3px solid black;
  text-align: center;
  padding: 81px;
  height: 170px;
}

.gif-setup {
  display: flex;
  flex-direction: column; /* sets the flex container to display its items vertically */
  justify-content: center;
  align-items: center;
  height: 132px;
}


.jokes-punchline {
  display: flex;
  flex-direction: column; /* sets the flex container to display its items vertically */
  justify-content: center;
  align-items: center;
}


.box-3 {
  width: 20%;
  margin: 2rem auto;
  border: 3px solid black;
  text-align: center;
  padding: 20px;
}

.random-button { 
    display: flex;
    flex-direction: column; /* sets the flex container to display its items vertically */
    justify-content: center;
    align-items: center;
}